<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>

    <link href="/public/js/restgo/dist/static/css/app.683beae3fc6548662b639584a991aeee.css" rel=stylesheet>
    
    
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
    

    <div id=app></div>
    <script type=text/javascript src=/public/js/restgo/dist/static/js/manifest.c7a1e522c80bb3e82e94.js></script>
    <script type=text/javascript src=/public/js/restgo/dist/static/js/vendor.c8931c1e41644ebffc2d.js></script>
    <script type=text/javascript src=/public/js/restgo/dist/static/js/app.4bc43dbd4ba9e0748f56.js></script>